version: '3'

services:
  
  mysql:
    image: mysql:5.7.15
    networks:
      - default
    ports:
       - "3306:3306"  
    environment:
      - MYSQL_ROOT_PASSWORD=mysql
      - MYSQL_DATABASE=db
      - MYSQL_USER=user
      - MYSQL_PASSWORD=pass
    volumes:
      - ./mysql-init.sql:/docker-entrypoint-initdb.d/mysql-init.sql
      - mysqldata:/var/lib/mysql/
#    command: mysqld --init-file="/tmp/mysql-init.sql"

volumes: 
  mysqldata:
