version: "3.7"

services:
  traefik:
    image: traefik:v2.1
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    secrets:
      - traefik-cer
      - traefik-key
    networks:
      - wso2cluster
    deploy:
      mode: global
      update_config:
        parallelism: 1
      restart_policy:
        condition: on-failure
      placement:
        constraints:
          - node.role == manager
    configs:
      - source: traefik
        target: /etc/traefik/traefik.yml
        mode: 0440
      - source: traefik-dyn
        target: /etc/traefik/traefik-dyn.yml
        mode: 0440

  wso2is:
    image: identityorg/wso2is58:1.3
    depends_on:
      - mysql
    networks:
      - wso2cluster
    labels:
      - "enabletraefik=true"
      - "traefik.http.middlewares.wso2is-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.wso2is-web.middlewares=wso2is-redirect"
      - "traefik.http.routers.wso2is-web.rule=Host(`localhost`)"
      - "traefik.http.routers.wso2is-web.entrypoints=web"
      - "traefik.http.routers.wso2is.rule=Host(`localhost`)"
      - "traefik.http.routers.wso2is.entrypoints=websecure"
      - "traefik.http.routers.wso2is.tls=true"
      - "traefik.http.services.wso2is-service.loadbalancer.server.port=9443"
      - "traefik.http.services.wso2is-service.loadbalancer.server.scheme=https"
      - "traefik.http.services.wso2is-service.loadbalancer.sticky=true"
      - "traefik.http.services.wso2is-service.loadbalancer.sticky.cookie.name=traefik_xxx_cookie"
      - "traefik.http.services.wso2is-service.loadbalancer.sticky.cookie.httpOnly=true"
      - "traefik.http.services.wso2is-service.loadbalancer.sticky.cookie.secure=true"
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
      restart_policy:
        condition: on-failure
    configs:
      - source: carbon
        target: /home/wso2carbon/wso2is-5.8.0/repository/conf/carbon.xml
        uid: "802"
        gid: "802"
        mode: 0440
      - source: email-admin-config
        target: /home/wso2carbon/wso2is-5.8.0/repository/conf/email/email-admin-config.xml
        uid: "802"
        gid: "802"
        mode: 0440
      - source: identity
        target: /home/wso2carbon/wso2is-5.8.0/repository/conf/identity/identity.xml
        uid: "802"
        gid: "802"
        mode: 0440
      - source: master-datasources
        target: /home/wso2carbon/wso2is-5.8.0/repository/conf/datasources/master-datasources.xml
        uid: "802"
        gid: "802"
        mode: 0440
      - source: bps-datasources
        target: /home/wso2carbon/wso2is-5.8.0/repository/conf/datasources/bps-datasources.xml
        uid: "802"
        gid: "802"
        mode: 0440
      - source: metrics-datasources
        target: /home/wso2carbon/wso2is-5.8.0/repository/conf/datasources/metrics-datasources.xml
        uid: "802"
        gid: "802"
        mode: 0440
      - source: user-mgt
        target: /home/wso2carbon/wso2is-5.8.0/repository/conf/user-mgt.xml
        uid: "802"
        gid: "802"
        mode: 0440
      - source: registry
        target: /home/wso2carbon/wso2is-5.8.0/repository/conf/registry.xml
        uid: "802"
        gid: "802"
        mode: 0440
      - source: embedded-ldap
        target: /home/wso2carbon/wso2is-5.8.0/repository/conf/identity/embedded-ldap.xml
        uid: "802"
        gid: "802"
        mode: 0440
      - source: catalina-server
        target: /home/wso2carbon/wso2is-5.8.0/repository/conf/tomcat/catalina-server.xml
        uid: "802"
        gid: "802"
        mode: 0440
      - source: health-check-config
        target: /home/wso2carbon/wso2is-5.8.0/repository/conf/health-check-config.xml
        uid: "802"
        gid: "802"
        mode: 0440
      - source: application-authentication
        target: /home/wso2carbon/wso2is-5.8.0/repository/conf/identity/application-authentication.xml
        uid: "802"
        gid: "802"
        mode: 0440

  mysql:
    image: mysql:5
    networks:
      - wso2cluster
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=mysql
      - MYSQL_DATABASE=db
      - MYSQL_USER=user
      - MYSQL_PASSWORD=pass
    volumes:
      - ./scripts/:/docker-entrypoint-initdb.d/
      - mysqldata:/var/lib/mysql/

volumes:
  mysqldata:

networks:
  wso2cluster:
    ipam:
      driver: default
      config:
        - subnet: 172.28.5.0/24

configs:
  carbon:
    file: ./wso2is/carbon.xml
  email-admin-config:
    file: ./wso2is/email-admin-config.xml
  identity:
    file: ./wso2is/identity.xml
  master-datasources:
    file: ./wso2is/master-datasources.xml
  bps-datasources:
    file: ./wso2is/bps-datasources.xml
  metrics-datasources:
    file: ./wso2is/metrics-datasources.xml
  user-mgt:
    file: ./wso2is/user-mgt.xml
  registry:
    file: ./wso2is/registry.xml
  embedded-ldap:
    file: ./wso2is/embedded-ldap.xml
  catalina-server:
    file: ./wso2is/catalina-server.xml
  health-check-config:
    file: ./wso2is/health-check-config.xml
  traefik:
    file: ./traefik/traefik.yml
  traefik-dyn:
    file: ./traefik/traefik-dyn.yml
  application-authentication:
    file: ./wso2is/application-authentication.xml

secrets:
  traefik-key:
    file: ./traefik/ssl/localhost.key
  traefik-cer:
    file: ./traefik/ssl/localhost.cer
