# accessLog: {}
providers:
  docker:
    constraints: "Label(`enabletraefik`,`true`)"
    swarmMode: true
    # network: wso2cluster
  file:
    filename: /etc/traefik/traefik-dyn.yml
api:
  dashboard: true
  insecure: true
log:
  level: DEBUG
## Static configuration
entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"
## Static configuration
serversTransport:
  insecureSkipVerify: true